---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// variables

@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,800');
$label-font: 'Nunito',
sans-serif;

@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,700');
$font-serif: 'EB Garamond', serif;

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
$font-words: 'Raleway', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900');
$font-title: 'Poppins', sans-serif;



%title-style {
  text-transform: uppercase;
  font-family: $font-title;
  font-weight: 800;
  font-size: 2em;
}

%header-style {
  @extend %title-style;
  text-align: center;
  i {
    margin-right: 0.3em;
  }
}

%sub-title-style {
  font-family: $label-font;
  font-size: 1.5em;
  font-weight: 200;
}

%sub-title-style-2 {
  font-family: $font-title;
  font-size: 1.5em;
  font-weight: 200;
}

%para-style {
  font-family: $font-title;
  font-size: 0.9em;
}

$btn-color: rgb(177, 89, 89);
$facepic-length: 277px;

$base-font-size:   16px;
$base-font-weight: 300;
$base-line-height: 1.5;

$background-color: #ffffff;
$base-line-height: 1.5;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 45%);
$grey-color-dark:  darken($grey-color, 25%);

$spacing-unit:     30px;

$text-color:       #111;

$top-bott-margin: 1em 0;

$line-color: #555151;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "layout",
    "header",
    "about",
    "employment"
;
