---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// variables

@import url('https://fonts.googleapis.com/css?family=Nunito:400,800');
$label-font: 'Nunito',
sans-serif;
%title-style {
  text-transform: uppercase;
  font-family: $label-font;
  font-weight: 800;
  font-size: 2em;
}

%header-style {
  @extend %title-style;
  text-align: center;
  i {
    margin-right: 0.3em;
  }
}

%sub-title-style {
  font-family: $label-font;
  font-size: 1em;
}

@import url('https://fonts.googleapis.com/css?family=Bitter');
$para-font: 'Bitter',
georgia,
serif;

%para-style {
  font-family: $para-font;
  font-size: 0.9em;
}

$btn-color: rgb(177, 89, 89);
$facepic-length: 277px;



$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 300;
$base-line-height: 1.5;

$background-color: #ffffff;
$base-line-height: 1.5;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 45%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;

$spacing-unit:     30px;

$text-color:       #111;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "layout",
    "header",
    "about",
    "employment"
;
