<a name="about"></a>
<main class='site-about'>
  <article class='container'>

    <div class='row'>
      <img src='/assets/img/faceshot.png' alt='face pic'>
      <div class='col-xl-8 col-lg-7 col-md-12 col-sm-12 col-12 profile'>
        <section class='bio'>
          <h1>Thomas Zhu</h1>
          <h2>Full Stack Web Developer</h2>
          <hr class='red-line'>
          <p>Full Stack Web Developer with a background in science which makes me passionate about problem-solving and logical thinking. Favorite interest is painting and was responsible for poster
           design in school. Hoping to become a team leader or consult manager in the future. Pursuing a career in a fast-paced creative work environment with the opportunity for continuous development
           and learning. Works effectively in a collaborative team environment, as well as independently. Web development is a fun and creative craft which I am keen to dedicate my career to.</p>
        </section class='bio'>
        <section class='contact d-flex flex-wrap justify-content-left'>

          <a href="https://github.com/Thomassky28" role='button' class='btn' target='_blank'>
          <i class='fab fa-github'></i> GitHub
          </a>

          <a href="https://www.linkedin.com/in/thomas-zhu-69a94b76/" role='button' class='btn' target='_blank'>
          <i class='fab fa-linkedin'></i> Linked In
          </a>

          <a href="https://drive.google.com/file/d/1qDxbZbMBD7x1YlMiSN0ue0aMDbAvqQ2W/view" role='button' class='btn' target='_blank'>
          <i class="far fa-file"></i> PDF Resume
          </a>

          <a href="mailto:haifeng3@ualberta.ca" role='button' class='btn'>
          <i class='fas fa-envelope-square'></i> haifeng3@ualberta.ca
          </a>

          <a href="tel:+17784023869" role='button' class='btn'>
          <i class='fas fa-phone-volume'></i> 1-778-402-3869
          </a>

        </section>
      </div>
    </div>

    <hr class='section-divider'>
  </article>
</main>