<a name="pills-education"></a>
<main class='site-education'>
  <article class='container'>

    <header class='section-header' id='education-header'>
      Education
    </header>

    <!-- degree #1 -->
    <article>
      <main class='container'>
        <div class='row'>

          <section class='col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 education-title'>
            <header class='title'>Web Development Bootcamp</header>
            <main class='sch-name' id='sch-name' >Lighthouse Labs</main>
            <footer id="time">Jul 2018 to Oct 2018</footer>
          </section>

          <section class='col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 education-description'>

            <ul>
              <li>A fully immersive program to learn the foundations of web development</li>
              <li>Technical Skills:<br>  HTML5 & CSS3, JavaScript, Ruby, SQL, Git, React, jQuery, Bootstrap, NodeJS, Express, AJAX, and MongoDB
              </li>
            </ul>

          </section>

        </div>
      </main>
    </article>

    <!-- degree #2 -->

    <article>
      <main class='container'>
        <div class='row'>

          <section class='col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 education-title'>
            <header class='title'>Bachelor of Science</header>
            <main class='sch-name' id='sch-name' >University of Alberta</main>
            <footer id="time">Sep 2012 to Jun 2016</footer>
          </section>

          <section class='col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 education-description'>

            <ul>
              <li> Major related to Chemistry, Biology, and Physics</li>
              <li> Dean's Honour List (2015)
              </li>

            </ul>

          </section>

        </div>
      </main>
    </article>


    <hr class='section-divider'>

  </article>
</main>