<a name="pills-employment"></a>
<main class='site-employment'>
  <article class='container'>

    <header class='section-header' id='employment-header'>
      Employment
    </header>

     <!-- employment #1 -->
    <article>
      <main class='container'>
        <div class='row'>

          <section class='col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 job-title'>
            <header class='title'>Web Developer</header>
            <main class='compy-name' id='compy-name' >TalentMarketplace</main>
            <footer id="time"> Oct 2018 - Apr 2019</footer>
          </section>

          <section class='col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 job-description'>

            <ul>
              <li> Work in Agile sprint environment</li>
              <li> Use proper version control including branching, pushing, pull requests and merging
              </li>
              <li> Use the tech stack as followings:
              </br>Python based MVC framework, PostgreSQL database, React/Redux front end, HTML, CSS, JQuery, Javascript, Ajax, Heroku Deployment, Salesforce Integration
              </li>
            </ul>

          </section>

        </div>
      </main>
    </article>


    <!-- employment #2 -->
    <article>
      <main class='container'>
        <div class='row'>

          <section class='col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 job-title'>
            <header class='title'>Senior Sales Representative</header>
            <main class='compy-name' id='compy-name' >Todays Sportswear</main>
            <footer id="time">Jul 2016 - Aug 2017</footer>
          </section>

          <section class='col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 job-description'>

            <ul>
              <<!-- p>Communication and Interpersonal Skills</p> -->
              <li> Managed team of employees, delegated each employee with tasks and priorities</li>
              <li> Created customer rapport by communicating with customers and promoting orders in a professional manner
              </li>
              <li> Professionally handled and dealt with complaints on a daily basis from a variety of individuals and situations
              </li>
            </ul>

          </section>

        </div>
      </main>
    </article>


  </article>
</main>
