<a name="pills-employment"></a>
<main class='site-employment'>
  <article class='container'>

    <header class='section-header' id='employment-header'>
      Employment
    </header>

    <!-- employment #1 -->
    <article>
      <main class='container'>
        <div class='row'>

          <section class='col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 job-title'>
            <header class='title'>Senior Sales Representative</header>
            <main class='compy-name' id='compy-name' >International Apparel Trading Company</main>
            <footer id="time">July 2016 - August 2017</footer>
          </section>

          <section class='col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 job-description'>

            <ul>
              <p>Communication and Interpersonal Skills</p>
              <li> Managed team of employees, delegated each employee with tasks and priorities</li>
              <li> Created customer rapport by communicating with customers and promoting orders in a professional manner.
              </li>
              <li> Professionally handled and dealt with complaints on a daily basis from a variety of individuals and situations
              </li>
            </ul>

          </section>

        </div>
      </main>
    </article>




    <hr class='section-divider'>
