<header class="site-header">
  <div class="nav-container"  >


    <div class="wrapper">



      <nav class="site-nav">



          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

            <li class="nav-item">
              <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-about" role="tab" aria-controls="pills-home" aria-selected="true">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-projects" role="tab" aria-controls="pills-profile" aria-selected="false">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-skills" role="tab" aria-controls="pills-contact" aria-selected="false">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-education" role="tab" aria-controls="pills-contact" aria-selected="false">Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-employment" role="tab" aria-controls="pills-contact" aria-selected="false">Employment</a>
            </li>

          </ul>



      </nav>

    </div>

  </div>

</header>
