
<a name="pills-project"></a>


<main class='site-projects'>
  <article class='container'>

    <header class='section-header' id='projects-header'>
      Projects
    </header>
    <main class='container'>

      <div class="row projects">



        <div class="card project col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" id="card">
          <a class="img-block" href="https://lancrape.herokuapp.com/" target="_blank"><img class="col-sm-12 col-12" src="/assets/img/User-pay-service.gif" alt="Lancr project" /></a>

          <hr class='section-divider'>
          <h4 class="title">Lancr</h4>
          <p>
          -Web app for freelancers. Freelancers post a job and their available time and it is posted to the main feed. Users can view the feed and book work and read about the freelancers.
          </p>
          <p>-Tech Stack:
            <code>Ruby</code>,
            <code>Rails</code>,
            <code>Stripe API</code>,
            <code>Bootstrap</code>,
            <code>PostgreSQL</code>.
          </p>
          <div class="sitebtn" target="_blank">
            <a class="btn" href="https://github.com/Thomassky28/Lancr" target="_blank">
              <i class='fab fa-github' target="_blank"></i> GitHub Repository
            </a>
            <a class="btn" href="https://lancrape.herokuapp.com/" target="_blank" >
              <i class="far fa-newspaper" target="_blank"></i>Website
            </a>
          </div>
        </div>


        <div class="card project col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" id="card">
          <a class="img-block" href="https://enigmatic-dusk-69216.herokuapp.com/" target="_blank"><img class="col-sm-12 col-12" src="/assets/img/New-tweets-demo.gif" alt="Tweeter project" /></a>

          <hr class='section-divider'>
          <h4 class="title">Tweeter</h4>
          <p>
          -The client-side app communicates with a server via AJAX.
          </p>
          <p>-Tech Stack:
            <code>HTML5</code>,
            <code>jQuery</code>,
            <code>AJAX</code>,
            <code>Node.js</code>,
            <code>Express</code>,
            <code>MongoDB</code>.

          </p>
          <div class="sitebtn">
            <a class="btn" href="https://github.com/Thomassky28/Tweeter">
              <i class='fab fa-github'></i> GitHub Repository
            </a>
            <a class="btn" href="https://enigmatic-dusk-69216.herokuapp.com/">
              <i class="far fa-newspaper"></i>Website
            </a>
          </div>
        </div>


      </div>

      <hr class='section-divider'>

      <div class="row projects">


        <div class="card project col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" id="card">
          <a class="img-block" href="https://github.com/Thomassky28/Chatty_App" target="_blank"><img class="col-sm-12 col-12" src="/assets/img/communication.gif" alt="Chatty project" /></a>

          <hr class='section-divider'>
          <h4 class="title">Chatty App</h4>
          <p>
          -Real time web application communicating with each other without registration .
          </p>
          <p>-Tech Stack:
            <code>Express</code>,
            <code>Node.js</code>,
            <code>React</code>,
            <code>WebSockets</code>.

          </p>
          <div class="sitebtn">
            <a class="btn" href="https://github.com/Thomassky28/Chatty_App">
              <i class='fab fa-github'></i> GitHub Repository
            </a>
          </div>
        </div>

        <div class="card project col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" id="card">
          <a class="img-block" href="https://github.com/Thomassky28/jungle-rails" target="_blank"><img class="col-sm-12 col-12" src="/assets/img/Jungle.gif" alt="Jungle project" /></a>

          <hr class='section-divider'>
          <h4 class="title">Jungle</h4>
          <p>
          -RoR e-commerce app tested with RSpec.
          </p>
          <p>-Tech Stack:
            <code>Ruby</code>,
            <code>Rails</code>,
            <code>Bootstrap</code>,
            <code>RSpec</code>.
          </p>
          <div class="sitebtn">
            <a class="btn" href="https://github.com/Thomassky28/jungle-rails">
              <i class='fab fa-github'></i> GitHub Repository
            </a>
          </div>
        </div>


      </div>



    </main>
  </article>
</main>