<div class="d-flex flex-wrap justify-content-center">

  <article>
    <img src="/assets/skills/HTML.png" />
    <div>HTML5</div>
  </article>

  <article>
    <img src="/assets/skills/CSS.png" />
    <div>CSS</div>
  </article>

  <article>
    <img src="/assets/skills/Javascript.jpg" />
    <div>Javascript</div>
  </article>

</div>

<div class="d-flex flex-wrap justify-content-center">

  <article>
    <img src="/assets/skills/PostgreSQL.png" />
    <div>PostgreSQL</div>
  </article>

  <article>
    <img src="/assets/skills/Git.png" />
    <div>Git</div>
  </article>

  <article>
    <img src="/assets/skills/React.png" />
    <div>React</div>
  </article>

</div>

<div class="d-flex flex-wrap justify-content-center">

  <article>
    <img src="/assets/skills/Bootstrap.png" />
    <div>Bootstrap</div>
  </article>

  <article>
    <img src="/assets/skills/Photoshop.jpg" />
    <div>Photoshop</div>
  </article>

  <article>
    <img src="/assets/skills/Sass.png" />
    <div>Sass</div>
  </article>

</div>

<div class="d-flex flex-wrap justify-content-center">

  <article>
    <img src="/assets/skills/Node.png" />
    <div>Node</div>
  </article>

  <article>
    <img src="/assets/skills/express.png" />
    <div>Express</div>
  </article>

  <article>
    <img src="/assets/skills/MongoDB.png" />
    <div>MongoDB</div>
  </article>

</div>

<div class="d-flex flex-wrap justify-content-center">

  <article>
    <img src="/assets/skills/Ruby.png" />
    <div>Ruby</div>
  </article>

  <article>
    <img src="/assets/skills/Rails.png" />
    <div>Rails</div>
  </article>

 <article>
    <img src="/assets/skills/JQuery.jpg" />
    <div>JQuery</div>
  </article>

</div>


