main.site-projects {
  header#projects-header {
    @extend %header-style;
  }
  main.container {
    text-align: center;
    div.projects {
      margin: $top-bott-margin;

      a.img-block{
        text-align: center;
        img {
          box-shadow: $box-shadow;
        }

      }

      .title {
        font-family: $font-title;
      }
      p {
        text-align: left;
        font-family: $font-title;
      }

      #card {
        border: 0px;
      }

      div {
        text-align: center;
      }

      .sitebtn {
        margin-bottom: 15px;
      }

      a.btn {
        font-family: $font-title;
        margin: 0.8em 0.5em 0 0;
        text-align: center;
        width: 180px;
        background-color: #cdc9c9;
        color: black;
        transition: transform .2s;
        &:hover {
          opacity: 0.8;
          transform: scale(1.05);
        }
      }

      img {
        width: 100%;
        padding: 2px;
        border-radius: 1em;
        height: 270px;
        width: 490px;
        transition: transform .2s;
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}